<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="stylesheet" href="/style.css">
    <title>Admin • <%= SITE.TITLE %></title>
  </head>
  <body>
    <div class="page_container">
      <%- include('menu') %>