---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import Hero from "@components/Hero.svelte";
import FriendCard from "@components/FriendCard.svelte";

const friends = await getCollection("friends");
---

<BaseLayout pageTitle="ðŸº Friends">
  <Hero text="Friends" subtext="ðŸº my awesome friends!" />
  <div class="contain">
    <div class="list grid-default">
      {friends && friends.map((f) => <FriendCard itemData={f} />)}
    </div>
  </div>
</BaseLayout>

<style>
  h1 {
    font-size: 5rem;
    font-family: var(--ff-brand);
  }

  span {
    font-weight: 300;
  }
</style>
