---
import BaseLayout from "@layouts/BaseLayout.astro";
import Hero from "@components/Hero.svelte";
---

<BaseLayout pageTitle="ℹ️ About">
  <Hero text="About" />
  <div class="contain">
    <p>coming soon</p>
  </div>
</BaseLayout>

<style>
  h1 {
    font-size: 5rem;
    font-family: var(--ff-brand);
  }

  span {
    font-weight: 300;
  }
</style>
