---
import BaseLayout from "@layouts/BaseLayout.astro";
import Hero from "@components/Hero.svelte";
---

<BaseLayout pageTitle="About">
  <Hero text="About" />
  <div class="contain">
    <p>coming soon</p>
  </div>
</BaseLayout>

<style>
  p {
  }
</style>
