---
import { SITE } from "@constants";
import { isDevelopment } from "@util";
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import TMDBCard from "@components/TMDBCard.svelte";
import NoteCard from "@components/NoteCard.svelte";

// Excluded Recents
// - these are movies/shows i haven't watched recently but forgot to add from the past
const excludedRecents = [
  "766507", //prey
  "666277", //past lives
  "19959", //surrogates
  "1635", //the island
  "7345", //there will be blood
  "10350", //wing commander
  "289123", //fred and rose west british horror story
  "1466938", //deadly american marriage
  "792", //platoon
  "201124", //mo
];

// Movies/Shows
const recentTMDBLimit = 12;
const recentNotesLimit = 6;
const movies = await getCollection(
  "movies",
  ({ id }) => excludedRecents.indexOf(id) === -1,
);
const shows = await getCollection(
  "shows",
  ({ id }) => excludedRecents.indexOf(id) === -1,
);
const tmdbItems = [...movies, ...shows];
tmdbItems.sort((a, b) => {
  const aDate = a?.data?.createdAt;
  const bDate = b?.data?.createdAt;
  return new Date(bDate) - new Date(aDate);
});

const notes = await getCollection("notes", ({ data }) =>
  isDevelopment ? true : data.published,
);
notes.sort((a, b) => {
  const aDate = a?.data?.updated || a?.data?.date;
  const bDate = b?.data?.updated || b?.data?.date;
  return new Date(bDate) - new Date(aDate);
});
---

<BaseLayout
  pageTitle="Home"
  fullHeroTitle="Welcome to"
  fullHeroColorTitle="pstraw.net"
  fullHeroSubtitle={`Hello. You've landed on my cozy little internet planet. This is ${SITE.DESCRIPTION.charAt(0).toLowerCase() + SITE.DESCRIPTION.slice(1)}`}
  fullHeroImage="/images/site/hero_default.png"
  fullHeroFeature="stars"
  fullHeroButtons={[
    { title: "Recent Watches", href: "#media", class: "cta" },
    { title: "Latest Notes", href: "#notes" },
  ]}
>
  <!-- Recently Watched -->
  <section id="media">
    <div class="container box">
      <div class="section-header">
        <h2 class="shimmer header-tertiary text-gradient">Recently Watched</h2>
        <p>
          New stuff, old stuff, hot stuff, cold stuff. These are some
          recently-peeped eye-gluers.
        </p>
      </div>
      <div class="grid-default">
        {
          tmdbItems.map((i, idx) => {
            if (idx < recentTMDBLimit) return <TMDBCard itemData={i} />;
          })
        }
      </div>
      <div class="grid-cta">
        <a class="btn" href="/media">Browse All Media →</a>
      </div>
    </div>
  </section>

  <!-- Latest Notes -->
  <section id="notes">
    <div class="container box">
      <div class="section-header">
        <h2 class="shimmer header-primary text-gradient">Latest Notes</h2>
        <p>Records of various references, resources, and remembrances.</p>
      </div>
      <div class="grid-default">
        {
          notes.map((i, idx) => {
            if (idx < recentNotesLimit)
              return <NoteCard itemData={i} featured={idx === 0} />;
          })
        }
      </div>
      <div class="grid-cta">
        <a class="btn" href="/notes">Browse All Notes →</a>
      </div>
    </div>
  </section>
</BaseLayout>

<style lang="scss">
  @use "@css/util";

  #media {
    background: var(--c-background-gradient);
  }
</style>
