---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Home">
  <div class="contain">
    <p>FRESH <span>honkin</span> <b>START!</b></p>
  </div>
</BaseLayout>

<style>
  h1 {
    font-size: 5rem;
    font-family: var(--ff-brand);
  }

  span {
    font-weight: 300;
  }
</style>
