@use "sass:map";

/**
 * Helpers
 */
@mixin sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

/**
 * Themes
 * To manually select a theme, we need to include a class alongside
 * the prefers-color-scheme queries. Class needs to be added to `html` element.
 */
@mixin themeStyles($variant: light) {
  html.theme-#{$variant} {
    @content;
  }
}

/**
 * Media Queries
 */
$breakpoints: (
  // 580px
  sm: 36.25rem,
  // 800px
  md: 50rem,
  // 1000px
  lg: 62.5rem,
);

@mixin mq($key) {
  $size: map.get($breakpoints, $key);

  @media only screen and (min-width: $size) {
    @content;
  }
}

/**
 * Z-Indexes
 */
$zindexes: (
  // reserve 1-21 for heroText characters
  heroText: 20,
  heroTextSub: 21,
  // ensure pageMenu is over the heroText
  pageMenu: 25,
  // ensure loader is over pageMenu
  loader: 27,
  // nav starts at 30
  nav: 30,
  // global search backdrop (main)
  mainBackdrop: 31,
  // skip to content link
  skipToContent: 100
);

@mixin zindex($key) {
  $z: map.get($zindexes, $key);

  z-index: $z;
}