/* Nunito */
@font-face {
    font-family: 'Nunito';
    src: url('/fonts/Nunito-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('/fonts/Nunito-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* KC Stone Cold Fox */
@font-face {
    font-family: 'KC Stone Cold Fox';
    src: url('/fonts/KCStoneColdFoxRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}