@use 'util';

// Modals
dialog {
  color: inherit;

  &[open] {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background: transparent;
    border: 0;
  }

  &::backdrop {
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
  }

  .content {
    position: relative;
    max-width: 700px;
    max-height: 100%;
    border: 0.5rem solid var(#f0f);
    border-radius: 0.5rem;
    padding: .5rem;
    background-color: var(#ff0);
    overflow-y: auto;

    &:focus-visible {
      background-color: var(#00f);
    }

    .close {
      position: fixed;
      display: block;
      width: 100%;
      max-width: 730px;
      margin: auto;
      top: -25px;
      left: 0;
      right: 0;
      text-align: right;
      z-index: 2;

      button {
        font-size: 6rem;
        line-height: 1;
        text-transform: uppercase;
        background-color: transparent;
        color: var(--c-primary);
        text-shadow: 2px 2px 0 var(--font-color);
      }
    }

    @include util.mq(sm) {
      padding: 2rem;
    }
  }
}