<nav id="menu">
  <div class="menu_logo">
    <a href="/">
      <img src="/favicon.png" alt="" />
      <span>admin</span>
    </a>
  </div>

  <div class="menu_links">
    <a href="/">📪</a>
    <a href="/tmdb">📀</a>
  </div>
</nav>

<style>
  /* Menu */
  #menu {
    position: fixed;
    top: 0;
    left: 0;
    height: var(--menu-height);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--c-dark-accent);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    z-index: 20;
  }

  .menu_logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-family: var(--font-family-brand);
    text-transform: uppercase;
  }

  .menu_logo img {
    height: 2rem;
    width: auto;
  }

  .menu_links {
    display: flex;
    gap: 0.42rem;
  }

  .menu_links a {
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding: 0.25rem 0.75rem;
    border: 1px solid var(--c-dark-accent-2);
    border-radius: 0.5rem;
  }
</style>
