---
import { getCollection } from "astro:content";
import { getPageMenuLinksFromPath } from "@util";
import CollectionLayout from "@layouts/CollectionLayout.astro";
import TMDBCard from "@components/TMDBCard.svelte";

const pageMenuLinks = getPageMenuLinksFromPath("/media");

const allTimeMoviesIds = [
  "10406", //encino man
  "348", //alien
  "563", //starship troopers
  "926", //galaxy quest
  "579974", //RRR
  "800937", //senior year
  "19995", //avatar
  "1648", //bill & ted 1
  "332270", //battle for sevastapol
  "24732", // harrison bergeron 1995
  "766507", //prey
  "1635", // the island
  "10350", //wing commander
  "1725", //west side story 1961
  "621", //grease
  "11778", //deer hunter
  "682507", //where the crawdads sing
  "135397", //jurassic world
  "339964", //valerian
  "399579", //alita
  "762975", //purple hearts
];
const allTimeShowsIds = [
  "64432", //the magicians
  "1855", //star trek voyager
  "580", //start trek ds9
  "4629", //stargate sg-1
  "63333", //the last kingdom
  "56296", //orphan black
  "4586", //gilmore girls
  "61664", //sense8
  "10545", //true blood
  "39793", //call the midwife
  "79242", //chilling adventures of sabrina
  "69050", //riverdale
  "82591", //goblin slayer
  "12971", // dbz
  "209867", //frieren
  "56570", //outlander
];

const allTimeMovies = await getCollection("movies", ({ id }) =>
  allTimeMoviesIds.includes(id),
);
const allTimeShows = await getCollection("shows", ({ id }) =>
  allTimeShowsIds.includes(id),
);
---

<CollectionLayout
  pageTitle="My Favorite Media"
  pageDescription="My Favorite Media"
  heroTitle="My Favorites"
  heroSubtitle="A working list of my all-time favorites!"
  heroColor="logo"
  {pageMenuLinks}
>
  <section>
    <div class="box-full movies">
      <div class="container-full">
        <div class="section-header">
          <h2 class="text-gradient header-tertiary">Movies I Love</h2>
          <p>These are all of my favorite movies in alphabetical order.</p>
        </div>
        <div class="grid-default">
          {
            allTimeMovies.map((m) => {
              const link = "";

              return <TMDBCard itemData={m} />;
            })
          }
        </div>
        <div class="grid-cta">
          <a class="btn" href="/media/movies">Browse All Movies →</a>
        </div>
      </div>
    </div>

    <div class="box-full shows">
      <div class="container-full">
        <div class="section-header">
          <h2 class="text-gradient header-tertiary">Shows I Love</h2>
          <p>These are all of my favorite shows in alphabetical order.</p>
        </div>
        <div class="grid-default">
          {allTimeShows.map((m) => <TMDBCard itemData={m} />)}
        </div>
        <div class="grid-cta">
          <a class="btn" href="/media/shows">Browse All Shows →</a>
        </div>
      </div>
    </div>
  </section>

  <style lang="scss">
    @use "@css/util";

    .box-full {
      padding-top: var(--space-page-v);
    }

    .movies {
      background: var(--c-background-gradient-2);
    }
  </style>
</CollectionLayout>
